# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Static Files
staticfiles/

# Python cache
*.egg-info/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.next/

# AWS
.elasticbeanstalk/

# Coverage
.coverage
htmlcov/